.form {
    margin: 0 auto;
}

.form__input {
    margin: 5px 20px;
}

.auth__button {
    margin-left: 20px;
    color: white;
    background-color: rgb(69, 9, 87);
    border-radius: 5px;
}

.login {
    margin-left: 34px;
}

.password {
    margin-left: 5px;
}

.login__title {
    margin-left: 20px;
}

.error {
    color: red;
}

.is_danger {
    border: 1px solid red;
}

.form__checkbox {
    margin-left: 15px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.form__error {
    padding: 5px;
    color: red;
}
